@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/* Asegúrate de que los estilos generales no afecten al header */



/* Estilos del Header */

.header {
    background-color: #00aeff;
    display: flex;
    justify-content: space-between;
    /* Asegura que el logo esté a la izquierda y lo demás a la derecha */
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo-container {
    display: flex;
    align-items: center;
}

.header .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 100px;
    /* Tamaño más grande para el logo */
    width: auto;
    transition: all 0.3s;
    margin-left: -10%;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .logo-text {
    font-size: 24px;
    /* Ajusta el tamaño del texto */
    font-weight: 700;
    color: #fff;
    /* Color del texto */
    margin-left: 15px;
    /* Separación entre el logo y el texto */
    text-transform: uppercase;
    /* Hace que el texto esté en mayúsculas */
}

.header .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #000000;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}




.clock {
    position: relative;
    width: 450px;
    height: 450px;
    background: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25);
    inset: 5px 5px 10px rgba(0, 0, 0, 0.5);
    inset: 5px 5px 20px rgba(0, 0, 0, 0.2);
    inset: 5px 5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100000;
}

.clock span {
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    /*360 / 12=30deg*/
}

.clock span b {
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle2 {
    width: 240px;
    height: 240px;
    z-index: 9;
}

.circle3 {
    width: 180px;
    height: 180px;
    z-index: 8;
}

.circle::before {
    content: '';
    position: absolute;
    top: -8.5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

.digital-clock {
    background: #2f363e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 150px;
}

.digital-clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 1;
}

.time {
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time span {
    color: #04fc43;
    font-weight: 600;
    text-shadow: 0 0 20px #0b9be8, 0 0 60px #04fc43;
}

.time .hour {
    color: #ff2972;
}

.time .minute {
    color: #fee800;
}

.time .second {
    color: #04fc43;
}

.time .ampm {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 15px;
}